.manifest-info{
  display: flex;
  justify-content: space-between;
  @media (max-width: 475px) {
    flex-direction: column;
  }
}

.description-container{
  max-width: 650px;
  margin: 0 auto;
}

.img-container{
  display: inline-block;
}

.img-thumbnail{
  max-height: 50vh;
}

.row{
  max-width: 100%;
  margin: 0 0;
}

.rover-info{
  background: url('../../assets/mars_surface_dust_black.png') no-repeat;
  background-size: cover;
  min-height: 100vh;

  // apply negative margin and offset it with padding to offset background image to match default image
  margin-top: -60px;
  padding-top: 60px;
}

.photo-gallery{
  background: #1f1f1f;
}

.image-gallery{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.image-container {
  padding: 20px;
  column-gap: 0px;
  column-count: 5;

  @media screen and (max-width: 1200px) {
    column-count: 4;
  }
  @media screen and (max-width: 768px) {
    column-count: 3;
  }
  @media screen and (max-width: 480px) {
    column-count: 2;
  }
  @media screen and (max-width: 320px) {
    column-count: 1;
  }
}

.img {
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.img:hover{
  -webkit-transform: scale(1.0);
  transform: scale(1.0);
  box-shadow: 0px 0px 12px -3px orange;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

img{
  max-height: 100%;
  max-width: 100%;
  border-radius: 9px;
}

.day-date {
  text-align: center;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  border-radius: 0.25rem;
  background: transparent;

  &.outside {
    opacity: 0.5;
  }

  .btn-light.disabled{
    opacity: .4;
  }
}

.form-check{
  margin-bottom: 5px;
}

.filters{
  max-width: 600px;
  min-width: 320px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
