html {
	background: #1F1F1F url('assets/mars_surface_dust_black.png') 0/cover no-repeat;
	background-attachment: fixed;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  color: white;
  background: transparent;
  /* Required for bootstrap fixed navbar */
  padding-top: 60px !important;
}

.pointer{
  cursor: pointer;
}

.hidden{
  display: none;
}

.tooltip-inner {
	max-width: 400px;
}
