
<div class="jumbotron-container">
  <div class="jumbotron text-white text-center">
    <div class="container">
      <h1 class="display-4">Mars Rovers</h1>
      <p class="lead">Dedicated to the rovers exploring Mars and the images they take</p>
      <p>This website uses the official <a href="https://api.nasa.gov/" target="_blank">NASA APIs</a> to display data, you can view the official NASA Mars page <a href="https://mars.nasa.gov/" target="_blank">here</a></p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="d-none d-sm-block col-sm-5 col-md-4 col-lg-3 thumbnail text-center">
      <img src="https://photojournal.jpl.nasa.gov/jpegMod/PIA19920_modest.jpg" class="img-thumbnail" alt="Curiosity rover image">
    </div>

    <div class="col-sm-7 col-md-8 col-lg-9 description">
      <h3>Curiosity rover</h3>
      <p>
        Curiosity is a car-sized rover designed to explore the crater Gale on Mars as part of NASA's Mars Science Laboratory mission (MSL). The rover is responsible for investigating the Martian climate and geology as well as assessing whether the selected field site inside Gale has ever offered environmental conditions favorable for microbial life. Curiosity was launched on Nov. 26th, 2011 & landed on Aug. 6th 2012. In December 2012, Curiosity's two-year mission was extended indefinitely.
      </p>
      <a class="btn btn-secondary" target="_blank" href="https://en.wikipedia.org/wiki/Curiosity_(rover)">View full wikipedia article</a>
    </div>
  </div>
  
  <div class="row">
    <div class="d-none d-sm-block col-sm-5 col-md-4 col-lg-3 thumbnail text-center">
      <img src="https://photojournal.jpl.nasa.gov/jpeg/PIA04413.jpg" class="img-thumbnail" alt="Opportunity rover image" />
    </div>

    <div class="col-sm-7 col-md-8 col-lg-9 description">
      <h3>Opportunity "Oppy" rover</h3>
      <p>
        Opportunity, nicknamed "Oppy", is a robotic rover on Mars that was active from 2004 until the middle of 2018. Oppy was launched on July 7th, 2003 as part of the Mars Exploration Rover program and landed on Jan. 25th, 2004. Oppy's main objective was to preform geological observations and determining the composition of the surface features. Oppy is considered one of NASA's most successful ventures and lasted 55 times longer than its designed lifespan.
      </p>
      <a class="btn btn-secondary" target="_blank" href="https://en.wikipedia.org/wiki/Opportunity_(rover)">View full wikipedia article</a>
    </div>
  </div>
  
  <div class="row">
    <div class="d-none d-sm-block col-sm-5 col-md-4 col-lg-3 thumbnail text-center">
      <img src="https://upload.wikimedia.org/wikipedia/commons/1/19/Spirit_PIA03230.jpg" class="img-thumbnail" alt="Spirit rover image" />
    </div>

    <div class="col-sm-7 col-md-8 col-lg-9 description">
      <h3>Spirit rover</h3>
      <p>
        Spirit is a robotic rover on Mars that was active from 2004 to 2010. Spirit was launched on July 7th, 2003 as part of the Mars Exploration Rover program and landed on Jan. 4th 2004, 3 weeks before its twin rover "Opportunity" lands on the other side of the planet. On may 1, 2009 Spirit became stuck in soft sand leading to March 22nd, 2010 where communication was lost. Spirit lasted 2,269 days, approximately 20 times longer than NASA planners expected.
      </p>
      <a class="btn btn-secondary" target="_blank" href="https://en.wikipedia.org/wiki/Spirit_(rover)">View full wikipedia article</a>
    </div>
  </div>
</div>
