.background{
  background: url("../../assets/mars_surface_dust.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: table;
}

.wrapper{
  background-color: rgba(0, 0, 0, 0.35);
  width: 100%;
  min-height: 100%;
  margin-bottom: 0px;
  border-radius: 0%;
  display: table-cell;
}

.jumbotron-container{
  margin-bottom: 25px;
  display: flex;

  .jumbotron{
    background-color: transparent;
    width: 100%;
    min-height: 100%;
    margin-bottom: 0px;
    border-radius: 0%;
  }
}

.rovers{
  max-width: 100%;
  padding-right: 5vw;
  padding-left: 5vw;

  .row{
    padding-bottom: 15px;
    >div{
      margin: 0px;
      padding: 1vh 1vw;
    }

    .img-thumbnail{
      max-height: 50vh;
    }
  }

  .thumbnail{
    background-color: rgba(0, 0, 0, 0.35);
    min-height: 100%;
    border-radius: 8px;
    padding: 1vh 1vw;
    transition-duration: .5s;

    &:hover{
      background-color: rgba(0, 0, 0, 0.7);
      transition-duration: .5s;
      cursor: pointer;
    }
  }
}
